body, ul, li, h1, h3{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
} /*affects margin on top coffee banner*/
header{
    /* background-color:rgb(122, 61, 17); */
    background-color:burlywood;
    /* padding: 20px 0; */
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
header h1{
    color: black;
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
    /* padding: 6px 12px;
    border-radius: 36px; */
}
.banner{

}
.banner img{
    width: 100%;
}
.banner .welcome{
    background-color:rgb(66, 29, 3);
}
nav{
    background-color: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 42px;
    z-index: 1;
    display: block;
} /* sticky margin for navbar home/menu/about/contact/where */
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 20%;
    display: inline-block;
}
nav li a{
    color: black;
    font-family: 'PT Sans', sans-serif;
}
.aboutUs{
    /* position:static; */
    /* padding-top: 40px; */
    display: block;
  /* position: relative; */
    /* top: -120px;  */
  /* visibility: hidden; */
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 30px auto; /* for refill your mind/main tag*/
    padding: 0 40px;
    box-sizing: border-box;
}
article h3{
    font-size: 48px;
}
/* trial */
div.contactUs{
    max-width: 100%;
    width: 1200px;
    margin: 30px auto; /* for refill your mind/main tag*/
    padding: 0 40px;
    box-sizing: border-box;
}
/* trial */

.contactUs{
    text-align: left;
}
.contactUs h3{
    font-size: 20px;
}
form input, textarea{
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 20px;
}
footer{
    text-align: center;
    background: #F4F4F4;
    padding: 1px;
}

/*no arrow*/
.no-arrow {
    -moz-appearance: textfield;
}
.no-arrow::-webkit-inner-spin-button {
    display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.aboutImages{
    text-align: center;
    /* margin: 80px 0; */
    
}
.aboutImages li{
    display: inline-block;
}
.coffeeImages{
    text-align: center;
    margin: 0px 0;
}
.coffeeImages li{
    display: inline-block;
    width: 40%;
    margin: 10px;
}
.coffeeImages li img{
    max-width: 100%;
}
.menu h3{
    font-size: 48px;
}
.menu{
    max-width: 100%;
    width: 1200px;
    margin: 30px auto; 
    /*for refill your mind/main tag*/
    padding: 0 40px;
    box-sizing: border-box;
}
.contactUs h3{
    font-size: 48px;
}
.whereToFind{
    max-width: 100%;
    width: 1200px;
    margin: 30px auto; 
    /*for refill your mind/main tag*/
    padding: 0 40px;
    box-sizing: border-box;
}
.whereToFind h3{
    font-size: 48px;
}
#map{
    height: 300px;
    /* width: 100px; */
    /* position: sticky; */
    /* z-index: -1; */
    /* float: center; */
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;

    padding: 10px;
}