body, ul, li, h1, h3{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
} /*affects margin on top coffee banner*/
header{
    /* background-color:rgb(122, 61, 17); */
    background-color:burlywood;
    /* padding: 20px 0; */
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
header h1{
    color: black;
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
    /* padding: 6px 12px;
    border-radius: 36px; */
}
.banner{

}
.banner img{
    width: 100%;
}
.banner .welcome{
    background-color:rgb(66, 29, 3);
}
nav{
    background-color: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 38px;
} /* sticky margin for navbar home/menu/about/contact/where */
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 20%;
    display: inline-block;
}
nav li a{
    color: black;
    font-family: 'PT Sans', sans-serif;
}
main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;

}