body, ul, li, h1, h3{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
} 
/*affects margin on top coffee banner*/
header{
    background-color:burlywood;
    /* padding: 10px; */
    /* text-align: center; */
    /* tentative center */
    /* position: fixed; */
    /* tentative */
    width: 100%;
    /* z-index: 1; */
    /* tentative */
    top: 0;
    left: 0;
}
.header-logo{
    display: inline-block;
}
.header-title{
    display: inline-block;
    /* padding: 10px; */
}
.header-title a:link{
    text-decoration: none;
}
.header-title h3{
    font-family: 'PT Sans', sans-serif;
    /* padding: 6px 12px; */
    padding-left: 12px;
    padding-right: 12px;
    display: inline;
    /* margin-left: 70px; */
}
.header-title ul{
    display: inline-block;
    /* float: right; */
}
.header-title li{
    display: inline-block;
    /* float: right; */
}
.header-navigation{
    display: inline-block;
    
    /* padding: 70px; */
    /* margin-left: 100; */
}
.header-navigation  {
    background-color: #burlywood;
}
.header-navigation a:hover{
    background-color: #ddd;
  color: black;
}
.header-nav{
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
    float: right;
    font-size: 17px;
    margin-right: 19px;
}
.header-nav li{
    display: inline;
}
.header-nav a{
    /* margin-right: 20px; */
}
.banner{

}
.banner img{
    width: 100%;
}
.banner .welcome{
    background-color:rgb(66, 29, 3);
}
nav{
    background-color: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 41px;
    z-index: 1;
    display: block;
} /* sticky margin for navbar home/menu/about/contact/where */
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 20%;
    display: inline-block;
}
nav li a{
    color: black;
    font-family: 'PT Sans', sans-serif;
}
.aboutUs{
    /* position:static; */
    /* padding-top: 40px; */
    display: block;
  /* position: relative; */
    /* top: -120px;  */
  /* visibility: hidden; */
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 30px auto; /* for aboutus/main tag*/
    padding: 0 40px;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
article h3{
    font-size: 48px;
}
/* trial */
div.contactUs{
    max-width: 100%;
    width: 1200px;
    margin: 30px auto; 
    padding: 0 40px;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
/* trial */

.contactUs{
    text-align: left;
}
form input{
    max-width: 100%;
    margin: 10px 0;
    padding: 5px 5px;
    
    /* border-radius: 20px; */
}
form input[type='number']{
    max-width: 100%;
    width: 1121px;
}
form textarea{
    max-width: 100%;
    margin: 10px 0;
    padding: 5px 5px;
    resize: vertical;
}
form .contactSubmit{
    background-color: burlywood; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
form .contactSubmit2{
    background-color: burlywood; 
    color: black; 
    border: 2px solid burlywood;
}
form .contactSubmit2:hover{
    background-color: white;
    color: black;
}
footer{
    text-align: center;
    background: #F4F4F4;
    padding: 1px;
}

/*no arrow*/
.no-arrow {
    -moz-appearance: textfield;
}
.no-arrow::-webkit-inner-spin-button {
    display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.aboutImages{
    text-align: center;
    /* margin: 80px 0; */
    
}
.aboutImages li{
    display: inline-block;
}
.coffeeImages{
    text-align: center;
    margin: 0px 0;
}
.coffeeImages li{
    display: inline-block;
    width: 40%;
    margin: 10px;
}
.coffeeImages li img{
    max-width: 100%;
}
.menu h3{
    font-size: 48px;
}
.menu{
    max-width: 100%;
    width: 1200px;
    margin: 30px auto; 
    /*for refill your mind/main tag*/
    padding: 0 40px;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
.contactUs h3{
    font-size: 48px;
}
.whereToFind{
    max-width: 100%;
    width: 1200px;
    margin: 30px auto; 
    /*for refill your mind/main tag*/
    padding: 0 40px;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
.whereToFind h3{
    font-size: 48px;
}
#map{
    height: 300px;
    /* width: 100px; */
    /* position: sticky; */
    /* z-index: -1; */
    /* float: center; */
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 20px; */

    /* in reference to main*/
    max-width: 100%;
    width: 1200px;
    margin: 30px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
.footer-contacts li{
    padding: 3px;
}
.footer-contacts a:link{
    font-family: 'PT Sans', sans-serif;
    /* font-size: 48px; */
    text-decoration: none;
    color: black;
}
.footer-contacts a:hover{
    font-family: 'PT Sans', sans-serif;
    /* font-size: 48px; */
    text-decoration: none;
    color: blue;
}
.grid-item ul{
    list-style-type: none;
}
.grid-item li{
    padding: 3px;
}
.grid-item a:link{
    font-family: 'PT Sans', sans-serif;
    /* font-size: 48px; */
    text-decoration: none;
    color: black;
}
.grid-item a:hover{
    font-family: 'PT Sans', sans-serif;
    /* font-size: 48px; */
    text-decoration: none;
    color: blue;
}
.footer-social{
    /* display: inline-block; */
    /* margin: auto; */
    text-align: left;
}
.footer-social-github{
    transition: transform .2s;
    display: inline-block;
    margin-right: 10px;
}
.footer-social-github:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.footer-social-facebook{
    transition: transform .2s;
    display: inline-block;
    margin-right: 10px;
}
.footer-social-facebook:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.footer-social-twitter{
    transition: transform .2s;
    display: inline-block;
    margin-right: 10px;
}
.footer-social-twitter:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}
.footer-social-instagram{
    transition: transform .2s;
    display: inline-block;
    margin-right: 10px;
}
.footer-social-instagram:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}
.business-name-logo{
    text-align: left;
}
.grid-logo{
    display: inline-block;
}
.grid-name{
    display: inline-block;
}
.grid-name h3{
    font-size: 30px;
} /*footer logo*/
.affiliations{
    text-align: left;
}
.terms-of-use{
    text-align: left;
}
.other-contacts{
    text-align: left;
}
.customer-care{
    text-align: left;
}
.carousel-inner img{
    max-width: 100%;
    width:  100%;
    height: 100%;
    object-fit: cover;
}